# Ignore raw/derived data files
data/**
!data/.gitkeep

# Ignore hidden snakemake working state
*.snakemake/

# Ignore logs
logs/**
!logs/.gitkeep

# Results

# FastQC outputs: ignore contents, keep folder
results/qc/fastqc/**
!results/qc/fastqc/
!results/qc/fastqc/.gitkeep

# MultiQC: keep the report (others can be regenerated)
results/qc/multiqc/**
!results/qc/multiqc/
!results/qc/multiqc/.gitkeep
!results/qc/multiqc/multiqc_report.html

# VS Code and macOS junk
.DS_Store
.vscode/

# Ignore notebooks' checkpoints
**/.ipynb_checkpoints

# Ignore Python build/cache
__pycache__/
*.py[cod]
*.so

# Ignore R history and cache
.Rhistory
.RData
.Rproj.user/

# Ignore temporary files
*.swp
*.tmp

# Ignore environment files and backups
*.env
*.bak

# Ignore large binaries
docker/cellranger-*.tar
docker/spaceranger-*.tar
